p, form {
  display: flex;
    justify-items: center;
    justify-content: center;
}
mat-grid-list{
  margin: auto 50px;
  text-align: center;
  padding: 1rem;

}
img {
  width: 50%;
  max-width: 400px;
}
