p  {
  display: flex;
    justify-items: center;
    justify-content: center;
}
li{
  list-style-type: none;
}
div{
  margin: 50px;
  align-items: center;
  font-size: large;
  border:solid 1px rgb(206, 178, 178);

}
mat-card{
  height: 100vh;
  margin:auto;
  text-align: center;
  background-color: transparent;

  max-width: 400px;

  color:white;
}
img{
  max-width: 200px;
}
